
# Folders
/MyHomepage/.vs/
/MyHomepage/MyHomepage/bin/
/MyHomepage/MyHomepage/Data/
/MyHomepage/MyHomepage/obj/
/MyHomepage/MyHomepage/Properties/
/MyHomepage/MyHomepage/Migrations/

# files
*.log
*.json
*.sln
